#image1 {height:300px;width:450px}
#image2 {height: 300px;width:500px}
body{background-color:teal ;}
body{background-color: cadetblue;}
h3 {color:aquamarine;}
h1 {colour:orange}
p {color:lime}
